html,
body {
  background: #ccc;
}
.box {
  height: 150px;
  background-image: url("https://media.giphy.com/media/26uf7RM9Nb9WgpMv6/giphy.gif");
}
.box8 {
  height: 150px;
  background-image: url("https://media.giphy.com/media/xTcnT2ZYSaCTdkTSmI/giphy.gif");
}
.box7 {
  height: 150px;
  background-image: url("https://media.giphy.com/media/3o7ZeFENy3NjaWC0Du/giphy.gif");
}
.box6 {
  height: 150px;
  background-image: url("https://media.giphy.com/media/26ufcYAkp8e66vanu/giphy.gif");
}
.box5 {
  height: 150px;
  background-image: url("https://media.giphy.com/media/26ufecpx7GRtGJZpC/giphy.gif");
}
.box1 {
  height: 750px;
  background: #730202;
  border: 2px solid lightblue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.box1 .me {
  position: absolute;
}
.box1 li {
  font-size: 35px;
  margin-top: 22px;
}
.box2 {
  height: 350px;
  background: #ccc;
}
.box3 {
  height: 100px;
  background-image: url("https://media.giphy.com/media/xTiTnI1mdyxsFKTFjW/giphy.gif");
  text-align: center;
}
.box4 {
  height: 280px;
  background-image: url(" https://media.giphy.com/media/xTiTnI1mdyxsFKTFjW/giphy.gif");
}
.img {
  height: 100%;
  width: 100%;
}
.knopka {
  height: 300px;
  width: 23%;
  left: 77%;
  z-index: 1;
  position: absolute;
}
.k1 {
  position: absolute;
  left: 40%;
}
.harc {
  width: 100%;
  height: 300px;
  position: relative;
  background-image: url("https://image.ibb.co/nAA85A/white.jpg");
}
#off {
  margin-top: 20px;
  display: inline-block;
  color: #777674;
  font-weight: bold;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px, rgba(100, 100, 100, 0.3) 3px 7px 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 1em 2em;
  outline: none;
  border-radius: 0.03px;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%), linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0.3)), linear-gradient(to right, #7d7d7d, rgba(255, 255, 255, 0.9) 45%, rgba(125, 125, 125, 0.5)), linear-gradient(to right, #7d7d7d, rgba(255, 255, 255, 0.9) 45%, rgba(125, 125, 125, 0.5)), linear-gradient(to right, #dfbeaa, rgba(255, 255, 255, 0.9) 45%, rgba(223, 190, 170, 0.5)), linear-gradient(to right, #dfbeaa, rgba(255, 255, 255, 0.9) 45%, rgba(223, 190, 170, 0.5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(96%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 10px 10px -10px;
          box-shadow: rgba(0, 0, 0, 0.5) 3px 10px 10px -10px;
}
#off:hover {
  -webkit-transition: .5s linear;
  transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(96%);
}
#off:active {
  top: 1px;
}
span {
  font-size: 36px;
  color: #fff;
  font-family: 'pattaya', sans-serif;
  position: relative;
  top: 30%;
}
li {
  font-family: 'Seymour One';
}
.xy {
  color: red;
  font-size: 36px;
  font-family: 'Seymour One';
  font-weight: 100px;
}
.yy {
  color: green;
  font-size: 36px;
  font-family: 'Seymour One';
}
